@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-principal:#dd1c76;
    --cor-details:#d52f7cc1;
    --branco: #fff;
    --cor-titles: #FFE6F3;
    --font-title: "Playfair Display", serif;
    --font-main: "Montserrat", sans-serif;
}

body{
    background-image: url('../assets/image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: var(--cor-details);
    padding: 15px;
    font-family: var(--font-title);
    font-size: 23px;
    color: var(--cor-titles);
    display: flex;
    text-align: center;
    margin-bottom: 35px;
    justify-content: center;
    gap: 10px;
}

.header_img{
    width: 16vh;
}

.content{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.content_artists{
    background-color: var(--cor-principal);
    padding: 45px;
    gap: 15px;
    font-family: var(--font-main);
    font-size: 12px;
    color: var(--cor-titles);
    border-radius: 30px;
    box-shadow: 5px 17px 12px 8px var(--cor-details);
}

.content_artists:hover{
    transform: scale(1.0);
}

.content_artists__img{
    width: 35vh;
    border-radius: 5%;
}

.content_artists__link{
    text-decoration: none;
    color: var(--cor-titles);
}